# virtual environment, managed by rye / poetry / ...
/.env
/.venv

# build folders of quarto
**/*_files
/.quarto
/quarto-build/
/release/
*.quarto_ipynb

# uv specific files
*.lock

# autogen cache
/.cache/


#Excel temporary files
~$*

# Power Point temporary files
.~lock.*


# pycharm / intellij
/.idea/

# project-specific:
.DS_Store

# drawio tmp files
*.drawio.bkp
.bkp

# generated or compiled files
__pycache__/
*.so
*.a
*.pth
*.pkl

# Jupyter Notebook
.ipynb_checkpoints


/.quarto/
/.vscode/